.datepicker {
  min-width: 21.375rem;
  background-color: #fff;
  display: inline-block;

  .active {
    background-color: #ffc20f;
    border-radius: 50%;
    margin: 0.5rem;
    transition: margin 0.2s;
  }

  #show {
    display: block;
  }

  #hide {
    display: none;
  }

  &__input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-gap: 0.625rem;
    margin: 0.625rem;
    label {
      font-size: 0.875rem;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    input {
      border: 1px solid #dbdbdb;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: HelveticaNeue;
      box-sizing: border-box;
      height: 40px;
      padding: 0.5rem 0.3rem;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #313131;
    }
    &--date, &--time {
      display: flex;
      flex-direction: column;
    }

    &--date {
      position: relative;
    }

    &__icon {
      position: absolute;
      right: 5px;
      bottom: -3px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
    margin-top: 0.5rem;

    &__month {
      font-size: 0.875rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.21;
      letter-spacing: normal;
      color: #313131;
      margin-left: 0.5rem;
      &::first-letter {
        text-transform: uppercase;
      }
    }

    &__buttons {

      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #ededed;
        }
      }
    }
  }

  &__flyout {
    width: 21.25rem;
    height: 23.25rem;
    border: 1px solid #E9E9E9;
  }

  &__grid {
    height: 21.5rem;

    &__weekdays {
      height: 2.5rem;
      display: grid;
      grid-auto-flow: column;
      font-size: 0.8125rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 3;
      letter-spacing: -0.19px;
      text-align: center;
      color: #b9b9b9;
    }

    &__days {
      height: 21.25rem;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);
    }

    &__day {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Helvetica;
      font-size: 14px;
      font-weight: bold;
      overflow-y: auto;
      cursor: pointer;
      margin: 0.3rem;
      border-radius: 50%;

      &:hover {
        background-color: #ffc20f;
      }
    }

  }

  .notInMonth {
    color: rgba(0, 0, 0, 0.3);
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

}
